{% extends 'expense/base.html' %}

{% block body %}
<form method="POST">
    {% csrf_token %}

    <div style="background-color: #F9F6EE" class="px-10 py-10 shadow-lg m-10 rounded-lg">
        <div class="mx-10">
            <div class="mb-2">
                <label class="font-semibold">Name</label>
            </div>
            <div style="background-color: white;" class="border p-1 mb-5">
                {{expense_form.name}}
            </div>
        </div>
        <div class="mx-10">
            <div class="mb-2">
                <label class="font-semibold">Amount</label>
            </div>
            <div style="background-color: white;" class="border p-1 mb-5">
                {{expense_form.amount}}
            </div>
        </div>
        <div class="mx-10">
            <div class="mb-2">
                <label class="font-semibold">Category</label>
            </div>
            <div style="background-color: white;" class="border p-1 mb-5">
                {{expense_form.category}}
            </div>
        </div>
        <button class="mx-10 btn btn-success" type="submit">Edit Data</button>
    </div>

    
</form>

{% endblock %}