{% extends 'expense/base.html' %}
{% load humanize %}
{% load static %}
{% block body %}
<div class="m-10 font-bold flex"><h5>All Expenses</h5> &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
    <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
    <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z"/>
  </svg></div>
<div style="background-color: #F9F6EE" class="shadow-lg m-10 rounded-lg">
    <div class="expense-row flex flex-wrap px-20 pt-3">
        <span class="font-bold">Name</span>
        <span class="font-bold">Amount</span>
        <span class="font-bold">Category</span>
        <span class="font-bold">Date</span>
        <span class="font-bold pl-4">Edit</span>
        <span class="font-bold">Delete</span>
    </div>
    <hr>
    {% for expense in expenses %}
    <div class="expense-row flex flex-wrap px-20 py-3">
        <span>{{expense.name}}</span>
        <span>Rs. {{expense.amount | intcomma}} </span>
        <span>{{expense.category}}</span>
        <span>{{expense.date}}</span>
        <span class="pl-24"><a href="{% url 'expense:edit' expense.id %}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
          </svg></a></span>
        <span class=>
            <form method="POST" action="{% url 'expense:delete' expense.id %}"> 
                {% csrf_token %}
                <button type="submit" name="delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg></button>
            </form>
            </span>
    </div>
    {% endfor %}
    <div class="px-72 py-3">
        <span class="font-bold text-green-500">
            Total: Rs. {{total_expenses.amount__sum|intcomma}}
        </span>
    </div>
</div>
<div class="flex" style="text-align: center;">
    <div style="background-color: #F9F6EE" class="w-1/3 shadow-lg ml-10 mb-5 rounded-lg">
        <h5 class="my-3 font-bold">LAST 365 DAYS</h5>
        <h5 class="my-3 text-green-500 font-bold">
            Rs. {{ yearly_sum.amount__sum|intcomma }}
        </h5>
    </div>

    <div style="background-color: #F9F6EE" class="w-1/3 shadow-lg ml-10 mr-10 mb-5 rounded-lg">
        <h5 class="my-3 font-bold">LAST 30 DAYS</h5>
        <h5 class="my-3 text-green-500 font-bold">
            Rs. {{ monthly_sum.amount__sum|intcomma }}
        </h5>
    </div>

    <div style="background-color: #F9F6EE" class="w-1/3 shadow-lg mr-10 mb-5 rounded-lg">
        <h5 class="my-3 font-bold">LAST 7 DAYS</h5>
        <h5 class="my-3 text-green-500 font-bold">
            Rs. {{ weekly_sum.amount__sum|intcomma }}
        </h5>
    </div>
</div>
{% endblock %}